{% extends 'base.html' %}

{% block title %} Создание нового кейса {% endblock %}
{% load static %}

{% block content %}

<div class="container">
  <h2> Формирование кейса </h2>  
  <div class="row justify-content-md-cente border">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="container-fluid">
            <form method="POST">
              {%csrf_token%}
              <br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Название кейса:</span>
                </div>
                <input 
                class="form-control"  
                type="text" 
                name="Case_Name" 
                maxlength="500" 
                required=""
                >
              </div>
              <br>
              <div class="input-group">
                <textarea 
                  class="form-control"  
                  name="Case_Comment" 
                  maxlength="300" 
                  required="" 
                  id="id_Case_Comment"></textarea>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Создать</button>
              <input type="button" class="btn btn-primary" onclick="history.back();" value="Отмена"/>
              <br>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

